{% if cart_items %}
  <form method="post" action="{% url 'confirm_order' %}">
    {% csrf_token %}
    
    <table>
      {% for item in cart_items %}
        <tr>
          <td>{{ item.product.model_name }}</td>
          <td>
            <label for="product_{{ item.product.id }}" class="visually-hidden">
              Кількість
            </label>
            <input type="number"
                   id="product_{{ item.product.id }}"
                   name="product_{{ item.product.id }}"
                   value="{{ item.quantity }}"
                   min="1"
                   max="10"
            >
          </td>
          <td>{{ item.total }}</td>
        </tr>
      {% endfor %}
    </table>
    
    <p>Загальна сума: {{ total_price }} ₴</p>
    <button type="submit">Оформити замовлення</button>
  </form>

  <hr> <!-- Додаємо роздільник між формами -->

  <!-- Окрема форма для видалення товарів з кошика -->
  {% for item in cart_items %}
    <form method="post" action="{% url 'remove_from_cart' product_id=item.product.id %}">
      {% csrf_token %}
      <button type="submit" class="remove-item-button">Видалити</button>
    </form>
  {% endfor %}
  
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <a href="{% url 'dashboard' %}">Повернутись на головну</a>

{% else %}
  <p>Ваш кошик порожній.</p>
  <a href="{% url 'dashboard' %}">Повернутись на головну</a>
{% endif %}
{% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

