<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Панель користувача</title>
</head>
<body>

  {% if user.is_authenticated %}
    <h1>Привіт, {{ user.email }}!</h1>

    {% if user.role == 'seller' %}
        <h2>Меню продавця</h2>
        <ul>
            <li><a href="{% url 'add_laptop_product' %}">Додати ноутбук</a></li>
            <li>Додати смартфон</li>
            <li>Обробити замовлення</li>
        </ul>
    {% else %}
        <h2>Меню покупця</h2>
        <ul>
            <li>Замовити товар</li>
            <li>Мої замовлення</li>
            <li>Оформити замовлення</li>
        </ul>
    {% endif %}

{% else %}
    <h2>Меню покупця</h2>
    <ul>
        <li>Замовити товар</li>
        <li>Оформити замовлення</li>
    </ul>
{% endif %}

  

  {% if user.is_authenticated %}
    <a href="{% url 'log_out' %}">Вийти</a>
  {% else %}
    <a href="{% url 'sign_in' %}">Увійти</a> | <a href="{% url 'sign_up' %}">Зареєструватися</a>
  {% endif %}

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

</body>
</html>
